body {
    background-color: #141414;
    font-family: 'Roboto', sans-serif
}

p {
    margin: 0;
}

.bg-dark {
    background-color: #242424 !important;
    color: #d9d9d9 !important
}

/*  navbar  */

.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9;
    font-size: 1.125rem
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #5bc955
}

.btn-login {
    background-color: transparent;
    color: #d9d9d9;
    border-color: #d9d9d9
}

.btn-login:hover {
    background-color: #d9d9d9;
    color: #242424;
    border-color: #d9d9d9
}

.btn-register {
    background-color: #5bc955;
    color: #141414;
    border-color: #5bc955
}

.btn-register:hover {
    background-color: #51a74c;
    color: #141414;
    border-color: #51a74c
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(91 201 85 / 25%)
}

/*  carousel  */

.img-carousel {
    height: 700px;
    object-fit: cover /* Cobre todo o espaço do container */
}

@media only screen and (max-width: 1000px) {
    .img-carousel {
        height: 600px
    }
}

@media only screen and (max-width: 820px) {
    .img-carousel {
        height: 300px
    }
}

@media only screen and (max-width: 405px) {
    .img-carousel {
        height: 200px
    }
}

/*  section  */

.section-title {
    font-weight: 700;
    color: #d9d9d9;
    margin-bottom: 1.5rem
}

.section-title::before {
    content: "";
    margin-bottom: 1rem;
    display: block;
    width: 3rem;
    height: 5px;
    background-color: #5bc955
}

.section-paragraph {
    margin-bottom: 1.5rem;
    color: #b8b8bb;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem
}

@media only screen and (min-width: 576px) {
    .section-title {
        font-size: 2rem
    }
}

@media only screen and (min-width: 768px) {
    .section-title {
        font-size: 2.5rem
    }
}

@media only screen and (min-width: 992px) {
    .section-title {
        font-size: 3rem
    }
}

.btn-section {
    padding: 0.375rem 1rem;
    color: #dbd9d9;
    font-size: 1rem;
    border: 2px solid #dbd9d9;
    border-radius: 0px;
    text-align: center
}

.btn-section:hover {
    color: #dbd9d9;
    border: 2px solid #5bc955
}

@media only screen and (min-width: 576px) {
    .btn-section {
        font-size: 1.2rem
    }
}

@media only screen and (min-width: 768px) {
    .btn-section {
        font-size: 1.4rem
    }
}

@media only screen and (min-width: 992px) {
    .btn-section {
        font-size: 1.6rem
    }
}

.custom-card {
    max-width: 18rem;
}

.custom-title {
    color: #5bc955
}


/*  contact form  */
.form-control {
    color: #DAD9D7;
    background-color: #303030;
    border: 1px solid #303030;
    border-radius: .25rem
}

.form-control:focus {
    color: #DAD9D7;
    background-color: #303030;
    border-color: #5bc955;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(91 201 85 / 25%)
}

/*  sign-up  */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-size: 1.125rem;
    background-color: #5bc955;
    color: #141414;
    text-transform: uppercase
}

.nav-pills .nav-link {
    font-size: 1.125rem;
    border-radius: .25rem;
    color: #5bc955;
    text-transform: uppercase
}

.primary-color {
    color: #5bc955
}

.regulation-link:hover {
    opacity: .6
}

.custom-img {
    width: 300px
}