body {
    margin: 0;
    padding: 0;
    background: #141414;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #b8b8bb;
}

p > a {
    color: #b8b8bb;
}

p > a:hover {
    color: #5bc955;
}

.login-logoBar {
    height: 20vh;
}

.login-middleContainer {
    height: 80vh;
}

.box {
    width: 100%;
    padding: 40px;
    background: #242424;
    text-align: center;
    transition: 0.25s;
    border-radius: 12px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #d9d9d9;
    border-radius: 4px;
    transition: 0.25s;
}

.box h1 {
    color: #d9d9d9;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 300px;
    border-color: #5bc955;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #5bc955;
    padding: 10px 40px;
    outline: none;
    color: #d9d9d9;
    border-radius: 4px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #51a74c;
    color: #000;
}

.under {
    text-decoration: underline;
}