body {
    margin: 0;
    padding: 0;
    background: #141414;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #b8b8bb;
}

p > a {
    color: #b8b8bb;
}

p > a:hover {
    color: #5bc955;
}

.box {
    padding: 16px; 
    background: #242424;
    text-align: center;
    transition: 0.25s;
    border-radius: 12px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 10px 10px;
    width: 180px;
    outline: none;
    color: #d9d9d9;
    border-radius: 4px;
    transition: 0.25s;
}

.box h1 {
    color: #d9d9d9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    width: 200px;
    border-color: #5bc955;
}

.box input[type="submit"] {
    border: 0;
    background-color: #5bc955;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #5bc955;
    padding: 10px 40px;
    outline: none;
    color: #141414;;
    border-radius: 4px;
    transition: 0.25s;
    cursor: pointer;
    width: 180px;
    font-weight: 700;
}

.box input[type="submit"]:hover {
    background: #51a74c;
    color: #000;
}

.under {
    text-decoration: underline;
}

@media only screen and (min-width: 576px) {
    .box {
        padding: 40px; 
    }
    .box input[type="text"], .box input[type="password"], .box input[type="email"] {
        width: 200 !important;
    }
    .box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus {
        width: 230px !important;
        border-color: #5bc955;
    }
    .box h1 {
        font-size: 30px;
    }
    .box input[type="submit"] {
        width: 200 !important;
    }
}

@media only screen and (min-width: 768px) {
    .box {
        padding: 60px
    }
    .box input[type="text"], .box input[type="password"], .box input[type="email"] {
        width: 250 !important
    }
    .box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus {
        width: 280px !important;
        border-color: #5bc955
    }
    .box h1 {
        font-size: 36px;
    }
    .box input[type="submit"] {
        width: 250 !important
    }
}

@media only screen and (min-width: 992px) {
    .box {
        padding: 100px
    }
    .box h1 {
        font-size: 48px
    }
}
